In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20,10)

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [5]:
df1 = df.drop(['area_type', 'society', 'availability', 'balcony'], axis = 'columns')
df1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

# Data Cleaning

In [6]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [7]:
df2 = df1.dropna()
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [8]:
df2.shape

(13246, 5)

In [9]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [10]:
df2['BHK'] = df2['size'].apply(lambda x: int(x.split()[0]))

C:\Users\shreya\AppData\Local\Temp/ipykernel_9456/2972016984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BHK'] = df2['size'].apply(lambda x: int(x.split()[0]))

In [11]:
df2.head(10)

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2
5                Whitefield      2 BHK       1170   2.0   38.00    2
6          Old Airport Road      4 BHK       2732   4.0  204.00    4
7              Rajaji Nagar      4 BHK       3300   4.0  600.00    4
8              Marathahalli      3 BHK       1310   3.0   63.25    3
9              Gandhi Bazar  6 Bedroom       1020   6.0  370.00    6

In [12]:
df2['BHK'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [13]:
df2[df2['BHK']>20]

                       location        size total_sqft  bath  price  BHK
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [14]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    
    return True

In [15]:
df3 = df2[~df2['total_sqft'].apply(is_float)].head(10)
df3.head()

               location   size   total_sqft  bath    price  BHK
30            Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0   56.800    2

In [41]:
import re
def convert_sqft_to_num(x):
    tokens = x.split('-')
    
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    
    try:
        m_to_ft(x)
    
#     else:
#         m_to_ft(x)
    
    except:
        return float(x)

In [42]:
df4 = df3.copy()
df4['sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
df4.head(10)

['34.46', 'Sq', 'Meter']
['4125', 'Perch']

               location       size      total_sqft  bath    price  BHK    sqft
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4  2475.0
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4  5611.5
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2  1073.5
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2  1242.5
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2  1277.5
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1     NaN
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2  1317.5
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9     NaN
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2  1132.5
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4  4046.0

In [27]:
def m_to_ft(x):
    res = re.findall('\d+(?:\.\d+)?|\w+', x)
    print(res)
    
    if res[1] == 'Sq':
        return float(res[0])*10.7639
    
    elif res[1] == 'Perch':
        return float(res[0])*272.25
    
    try:
        return float(x)
    except:
        return None

In [23]:
df4['sqft'] = df4['sqft'].apply(m_to_ft)
df4.head(10)

TypeError: expected string or bytes-like object

In [ ]:
def perch_to_ft(x):
    
    res = re.findall('\d+(?:\.\d+)?|\w+',x)
    
    if res[1] == 'Perch':
        return float(res[0])*272.25
    try:
        return float(x)
    except:
        return None

In [ ]:
perch_to_ft('4125.6Perch')

In [24]:
m_to_ft('346.5Sq. Meter')

['346.5', 'Sq', 'Meter']

3729.69135

In [ ]:
convert_sqft_to_num('2016')

In [ ]:
convert_sqft_to_num('2016 - 2020')

In [ ]:
elif res[1] == 'Sq':
        return float(res[0])*10.7639
    
    elif res[1] == 'Perch':
        return float(res[0])*272.25